
:host {
    display: block;
}
.login-page {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    //padding: 3em;
    .col-lg-4 {
        padding: 0;
    }
    .input-lg {
        height: 46px;
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.3333333;
        border-radius: 0;
    }
    .logo-image {
        text-align: center;
        .user-avatar {
            width: 195px;
            position:relative;
        }
    }
    .card {
        border: 2px solid #fff !important;
        box-shadow: 3px 3px 9px rgba(0,0,0,0.25);
        background-color: rgba(255,255,255,0.4);
        .card-header {
            background-color: rgba(0,0,0,0.75) !important;
        }
    }
    .form-control {
        border-radius: 0;
        border: none;
        background-color: rgba(0,0,0,0.75);
        color: var(--white01);
        font-size: 15px;
        padding-left: 20px;
    }
    .form-group {
        position: relative;
        span {
            position: absolute;
            right: 15px;
            top: 8px;
            .far {
                font-size: 16px;
            }
        }
    }
    button {
        padding: 3px 15px 3px 15px;
        background-color: #fe8f34;
        box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
        color: #fff;
        border-radius: 0;
        height: 33px;
    }
    .forgot-pw {
        background-color: rgba(0,0,0,0.75);
        padding: 5px 15px;
        font-size: 14px;
        border-radius: 0;
    }
    .txt-captcha {
        background: rgba(255,255,255,0.5);
        color: #000;
    }
    .fa-check {
        color: #6ad193;
    }
}
.spinner-border {
    vertical-align: middle;
}
