<div ngDraggable [handle]="DemoHandle" class="animated fadeIn modal-draggable">
    <div #DemoHandle class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="onCloseModal({});">
            <span aria-hidden="true">&times;</span></button>
    </div>
    <div class="col-md-10 col-md-offset-2 mx-auto">
        <angular-cropper *ngIf="!croppedImage" [cropperOptions]="cropperOptions" [imageUrl]="file.file"
                         #angularCropper></angular-cropper>

        <img *ngIf="croppedImage" [src]="croppedImage" alt="" style="width: 100%;height: 100%">
    </div>
    <div class="modal-footer text-right">
        <button (click)="rotate()" [hidden]=clicked><i class="fa fa-repeat" aria-hidden="true"></i></button>
        <button (click)="preview();clicked = true" [hidden]=clicked><i class="fa fa-eye" aria-hidden="true"></i>
        </button>
        <button [disabled]="!fileFormat" (click)="save()"><i class="fa fa-upload" aria-hidden="true"></i></button>
    </div>
</div>

