<div ngDraggable [handle]="DemoHandle" class="animated fadeIn modal-draggable">
    <div #DemoHandle class="modal-header">
        <h6 class="modal-title pull-left">{{action ==='add_sub_category'? 'Add New Sub Category': 'Edit Sub Category'}}</h6>
        <button class="close pull-right" aria-label="Close" (click)="onCloseModal(null)" type="button"
                [disabled]="spinner" tabindex="8">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form role="form" #f="ngForm" (submit)="f.form.valid && onSubmit(f)" novalidate>
        <div class="modal-body">
            <div class="row">
                <!--Basic Information-->
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <span class="nameSpan">Basic Information</span>
                        </div>
                        <div class="card-body">
                            <div class="col-md-12">
                            <div class="row">
                                <!-- Name-->
                                <div class="col-md-3">
                                    <div class="form-group form-group-sm">
                                        <label>Name<span class="required-field">*</span></label>
                                        <input type="text" class="form-control form-control-sm" [focuMe]="true"
                                               [(ngModel)]="subCategoryObj.name" name="name" #name="ngModel" id="name"
                                               required tabindex="1"/>
                                        <div *ngIf="name.invalid && (f.submitted || name.dirty || name.touched)"
                                             class="required-alert alert alert-danger">
                                            <span *ngIf="name.errors?.required">This field is required.</span>
                                        </div>
                                    </div>
                                </div>
                                <!--Domain-->
                                <div class="col-md-2">
                                    <div class="form-group form-group-sm">
                                        <label>Domain<span class="required-field">*</span></label>
                                        <select class="form-control form-control-sm" required tabindex="2"
                                                [(ngModel)]="subCategoryObj.domain_id" name="domain_id" #domain_id="ngModel"
                                                  (change)="onChangeDomain()">
                                            <option [ngValue]="null" disabled>Select a Domain</option>
                                            <option [ngValue]="domain.key"
                                                    *ngFor="let domain of domainList">{{domain.value}}</option>
                                        </select>
                                        <div *ngIf="domain_id.invalid && (f.submitted || domain_id.dirty || domain_id.touched)"
                                             class="required-alert alert alert-danger">
                                            <span *ngIf="domain_id.errors?.required">This field is required.</span>
                                        </div>
                                    </div>
                                </div>
                                <!--Category-->
                                <div class="col-md-2">
                                    <div class="form-group form-group-sm">
                                        <label>Category<span class="required-field">*</span></label>
                                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                                              *ngIf="categorySpinner"></span>
                                        <select class="form-control form-control-sm" required tabindex="3"
                                                [(ngModel)]="subCategoryObj.category_id" name="category_id"
                                                #category_id="ngModel" [disabled]="categorySpinner">
                                            <option [ngValue]="null" disabled>Select a Category</option>
                                            <option [ngValue]="category._id"
                                                    *ngFor="let category of categoryList">{{category.name}}</option>
                                        </select>
                                        <div *ngIf="category_id.invalid && (f.submitted || category_id.dirty || category_id.touched)"
                                             class="required-alert alert alert-danger">
                                            <span *ngIf="category_id.errors?.required">This field is required.</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- Description-->
                                <div class="col-md-3">
                                    <div class="form-group form-group-sm">
                                        <label>Description<span class="required-field">*</span></label>
                                        <input type="text" class="form-control form-control-sm" required tabindex="4"
                                               [(ngModel)]="subCategoryObj.description" name="description"
                                               #description="ngModel" id="description"/>
                                        <div *ngIf="description.invalid && (f.submitted || description.dirty || description.touched)"
                                             class="required-alert alert alert-danger">
                                            <span *ngIf="description.errors?.required">This field is required.</span>
                                        </div>
                                    </div>
                                </div>
                                <!--Image Upload-->
                                <div class="col-md-2">
                                    <div class="form-group form-group-sm">
                                        <label>Image</label>
                                        <app-image-upload [imageUrl]="subCategoryObj.icon" tabindex="5"
                                                          [config]="fileUploadSubCategoryConfig"
                                                          (onFileUploadEvent)="onSubCategoryUpload($event)"></app-image-upload>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-sm btn-success" [disabled]="spinner" tabindex="6">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="spinner"></span>
            {{action == "edit_sub_category" ? "Save" : "Create"}}
        </button>
        <button type="button" (click)="onCloseModal(null);" class="btn btn-sm btn-secondary" [disabled]="spinner"
                tabindex="7">Cancel
        </button>
    </div>
    </form>
</div>
